<p id="notice"><%= notice %></p>

<h1>Doodads</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doodads.each do |doodad| %>
      <tr>
        <td><%= doodad.name %></td>
        <td><%= doodad.description %></td>
        <td><%= link_to 'Show', doodad %></td>
        <td><%= link_to 'Edit', edit_doodad_path(doodad) %></td>
        <td><%= link_to 'Destroy', doodad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doodad', new_doodad_path %>
